/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  h1 {
    margin: 5px 0 40px 0;
    text-align: center;
    color: #4CAF50;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4CAF50, 0 0 40px #4CAF50, 0 0 50px #4CAF50, 0 0 75px #4CAF50;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Login and registration pages */
  .logo {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #aaa;
    position: absolute;
    top: 0;
    left: 0;
    color: #ff0000; /* red */
    font-style: italic;
    border: 2px solid #ff0000;
    border-radius: 50%; /* make the border oval-shaped */
    opacity: 0.75; /* add transparency */
}

  form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  button[type="submit"] {
      background-color: #007bff;
      border-radius:3px;
      color:white;
      cursor:pointer;
      font-size:16px; 
      padding:10px; 
      width:auto; 
      margin-top:10px; 
      border:none; 
  }
  button[type="submit"]:hover{
      background-color:#0062cc; 
  }
  .error{
      color:#dc3545; 
      margin-bottom:10px; 
  }

  @media screen and (max-width: 600px) {
    .container {
      max-width: 100%;
    }
  }